/*добавим стиль менюшке*/
#menu {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	background-color: #484848;
}
#menu a {
	margin: 0 5px;
	padding: 15px 25px;
	text-decoration: none;
	color: #fff;
	font: bold 14px Georgia;
}
#menu a:hover, #menu a.active {
	color: #484848;
	background-color: #fff;
}
/*добавим стили элементам контента*/
#content {
	padding: 0 30px 20px;
    font:bold 14px Symbol;
}
#content h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}
#content p {
	padding: 0 10px;
	margin-bottom: 5px;
	font: 18px/1.3 Symbol;
	text-align: justify;
}
.layer{
	height: 100%;
	width: 100%;
	position:absolute;
	background-size: cover;
	background-position: center;
}