p{
	font: 14px/1.3 Symbol;
}
#block h1, #block h2{
	text-align: center;
	color: blue;
	font-size: 16px;
}
#block h3{
	text-align: center;
	color: red;
	font-size: 16px;
}
.xxx, .eee, h2.zzz{
	text-align: center;
	color: green;
}
.layer{
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
}