body{
	font: 14px/1.3 Symbol;
}
#number1 ul {
	list-style-type: square;
}
#number2 ul {
	list-style-type: circle;
}
#number3 ul {
	list-style-type:none;
}
.layer{
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
}